@font-face {
    font-family: brands;
    src: url(../fonts/fa-brands-400.ttf);
}

@font-face {
    font-family: solid-a;
    src: url(../fonts/fa-solid-900.ttf);
}

@font-face {
    font-family: regular;
    src: url(../fonts/fa-regular-400.ttf);
}